<div class="page-header clearfix">
  <h1>{{ page.title }}</h1>
  <!-- div class="date"><span>{{ page.date | date_to_long_string }}</span></div-->
</div>

<div class="row">
  <div class="span12">
    {{ content }}
	<h4>HTML</h4>
	<div class="codeview"><textarea id="codeHtml"></textarea></div>
	<h4>CSS</h4>
	<div class="codeview"><textarea id="codeCss"></textarea></div>
    <p>注：本文版权归<a href="http:/{{title}}"> {{ site.title }} </a>所有，转载请注明出处。</p>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>

	{% unless page.tags == empty %}
		<h2>Tags</h2>
		<ul class="tag_box inline">
		{% assign tags_list = page.tags %}
		{% include JB/tags_list %}
		</ul>
	{% endunless %}

    <hr>
    {% include JB/comments %}
  </div>
</div>
<script type="text/javascript">
<!--
$("#codeHtml").val( $("#preview").html());
$("#codeCss").val( $("#cssR").html());

$(document).ready(function() { 
	$('#codeHtml').live('keyup', function(e) {
		$('#preview').html($(this).val());
	});
	$('#codeCss').live('keyup', function(e) {
		$('#cssR').html($(this).val());
	});
}); 

//-->
</script>