<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
	<h4>HTML Code</h4>
	<div class="codeview"><textarea id="codeHtml"></textarea></div>
	<h4>CSS Code</h4>
	<div class="codeview"><textarea id="codeCss"></textarea></div>
    <p>注：本文版权归<a href="http:/{{title}}"> {{ site.title }} </a>所有，转载请注明出处。</p>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}

    <h4>Recent Posts</h4>
    <ul class="posts">
      {% for post in site.posts limit:10 %}
        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <h4>Categories</h4>
    <ul>
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>

    <h4>Tag Cloud</h4>
    <ul class="tag_box inline">
      {% assign tags_list = site.tags %}
      {% include JB/tags_list %}
    </ul>

  </div>
</div>
<script type="text/javascript">
<!--
$("#codeHtml").val( $("#preview").html());
$("#codeCss").val( $("#cssR").html());

$(document).ready(function() { 
	$('#codeHtml').live('keyup', function(e) {
		$('#preview').html($(this).val());
	});
	$('#codeCss').live('keyup', function(e) {
		$('#cssR').html($(this).val());
	});
}); 

//-->
</script>
<style type="text/css">
<!--
.codeview textarea{
overflow:auto;width:90%;height:8em;
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 12px;
line-height: 20px;
word-break: break-all;
word-wrap: break-word;
white-space: pre;
white-space: pre-wrap;
background-color: #f5f5f5;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 4px;
font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
}
-->
</style>